body {
    background: #000000;
  }
  p {
    color: #000000;
    font-size: 20px
  }
  h1 {
    color: #ffffff;
    font-weight: bold;
    font-size:30px;
  }
  .title{
    display: inline-block;
    font-size: 40px;
    font-family: monospace;
    text-decoration: underline;
  }
  .title2{
    display: inline-block;
    font-size: 30;
  }
  h4{
    color: #ffffff;
  }
  
  
  .messi {
   
    
    
    width: 300px;
    background-color: white;
    margin-bottom: 25px;
   
  }
  
  .container {
    
    text-align: center;
    padding: 10px 20px;
    
  }
  .ronaldo{
    
    width: 300px;
    background-color: white;
    margin-bottom: 25px;
  
  }
  .container2 {
   
    text-align: center;
    padding: 10px 20px;}