body {
    background-color:black;
}
h1{
    color: rgb(28, 204, 12);
    text-align: center;
    text-shadow: 2px 2px 4px #1900ff;
}
p{
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
}
h3{
    color: rgb(255, 255, 255);
}
h4{
    color: rgb(255, 255, 255);
}
h5{
    color: rgb(255, 255, 255);
}
h6{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.messiearlylife{
color:#ffffff ;
}
.button2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: right;
}
    